name: Check (TypeScript)

on:
  merge_group:
  pull_request:
    paths:
      - "**/*.{astro,mjs,ts}"
      - "**/bun.lock"
      - "**/check-typescript.yml"
      - "**/package.json"
  push:
    paths:
      - "**/*.{astro,mjs,ts}"
      - "**/bun.lock"
      - "**/check-typescript.yml"
      - "**/package.json"
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  lint:
    name: TypeScript lint
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Lint code with Biome
        run: biome ci --css-parse-tailwind-directives=true .
