name: Code Integration Checks

on:
  merge_group:
  pull_request:
    paths:
      - .github/workflows/ci.yml
      - "**/*.{astro,css,json,jsonc,md,mdx,mjs,ts,yml}"
      - package.json
      - bun.lock
  push:
    paths:
      - .github/workflows/ci.yml
      - "**/*.{astro,css,json,jsonc,md,mdx,mjs,ts,yml}"
      - package.json
      - bun.lock
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  fmt:
    name: Check formatting with dprint
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      DPRINT_CACHE_DIR: ${{github.workspace}}/.dprint
    steps:
      - name: Ensure LF line endings
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dprint
        uses: jaxxstorm/action-install-gh-release@0591a75036154a375b4fea771cabfbe05e4423f7
        with:
          repo: dprint/dprint
          tag: 0.52.0
          cache: enable

      - name: Cache dprint plugins
        uses: actions/cache@v5
        with:
          path: ${{ env.DPRINT_CACHE_DIR }}
          key: cache-dprint-plugins-${{ hashFiles('**/.dprint.jsonc','.dprint/plugin-cache-manifest.json') }}
          restore-keys: cache-dprint-plugins

      - name: Check formatting
        run: dprint check

  lint:
    name: TypeScript lint
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Lint code with Biome
        run: biome ci --css-parse-tailwind-directives=true .
